<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuafu.web.mapper.WalletAllMapper">
    <sql id="wallet_list_sql">
        select
        mte.type_name   ,
        w.user_info_user_info_id_1   ,
        ui.car_plate   ,
        ui.cert_status_enum_cert_status_enum_id_1   ,
        ui.city   ,
        ui.real_name   ,
        w.member_type_enum_member_type_enum_id_1   ,
        w.wallet_id   ,
        ui.password   ,
        w.balance   ,
        w.member_expire   ,
        ui.phone_number   ,
        ui.continue_active_days   ,
        ui.car_type_enum_car_type_enum_id_1   ,
        ui.active_days   


        FROM wallet w
        left join user_info ui on w.user_info_user_info_id_1 = ui.user_info_id
        left join member_type_enum mte on w.member_type_enum_member_type_enum_id_1 = mte.member_type_enum_id

        </sql>

        <resultMap id="selectListNewMap" type="com.kuafu.web.entity.WalletAll">

        <result property="typeName" column="type_name"/>

        <result property="userInfoUserInfoId1" column="user_info_user_info_id_1"/>

        <result property="carPlate" column="car_plate"/>

        <result property="certStatusEnumCertStatusEnumId1" column="cert_status_enum_cert_status_enum_id_1"/>

        <result property="city" column="city"/>

        <result property="realName" column="real_name"/>

        <result property="memberTypeEnumMemberTypeEnumId1" column="member_type_enum_member_type_enum_id_1"/>

        <result property="walletId" column="wallet_id"/>

        <result property="password" column="password"/>

        <result property="balance" column="balance"/>

        <result property="memberExpire" column="member_expire"/>

        <result property="phoneNumber" column="phone_number"/>

        <result property="continueActiveDays" column="continue_active_days"/>

        <result property="carTypeEnumCarTypeEnumId1" column="car_type_enum_car_type_enum_id_1"/>

        <result property="activeDays" column="active_days"/>




        </resultMap>

<select id="selectListNew"  resultMap="selectListNewMap">
select
mte.type_name   ,
w.user_info_user_info_id_1   ,
ui.car_plate   ,
ui.cert_status_enum_cert_status_enum_id_1   ,
ui.city   ,
ui.real_name   ,
w.member_type_enum_member_type_enum_id_1   ,
w.wallet_id   ,
ui.password   ,
w.balance   ,
w.member_expire   ,
ui.phone_number   ,
ui.continue_active_days   ,
ui.car_type_enum_car_type_enum_id_1   ,
ui.active_days   



        FROM wallet w
        left join

        user_info

        ui on w.user_info_user_info_id_1 = ui.user_info_id
        left join

        member_type_enum

        mte on w.member_type_enum_member_type_enum_id_1 = mte.member_type_enum_id



${ew.customSqlSegment}
        </select>

<select id="selectList" resultType="com.kuafu.web.entity.WalletAll">
select
mte.type_name   ,
w.user_info_user_info_id_1   ,
ui.car_plate   ,
ui.cert_status_enum_cert_status_enum_id_1   ,
ui.city   ,
ui.real_name   ,
w.member_type_enum_member_type_enum_id_1   ,
w.wallet_id   ,
ui.password   ,
w.balance   ,
w.member_expire   ,
ui.phone_number   ,
ui.continue_active_days   ,
ui.car_type_enum_car_type_enum_id_1   ,
ui.active_days   


        FROM wallet w
        left join user_info ui on w.user_info_user_info_id_1 = ui.user_info_id
        left join member_type_enum mte on w.member_type_enum_member_type_enum_id_1 = mte.member_type_enum_id


${ew.customSqlSegment}
        </select>

<select id="selectPage" resultType="com.kuafu.web.entity.WalletAll">
select
mte.type_name  ,
w.user_info_user_info_id_1  ,
ui.car_plate  ,
ui.cert_status_enum_cert_status_enum_id_1  ,
ui.city  ,
ui.real_name  ,
w.member_type_enum_member_type_enum_id_1  ,
w.wallet_id  ,
ui.password  ,
w.balance  ,
w.member_expire  ,
ui.phone_number  ,
ui.continue_active_days  ,
ui.car_type_enum_car_type_enum_id_1  ,
ui.active_days  



        FROM wallet w
        left join user_info ui on w.user_info_user_info_id_1 = ui.user_info_id
        left join member_type_enum mte on w.member_type_enum_member_type_enum_id_1 = mte.member_type_enum_id





${ew.customSqlSegment}
        </select>

<select id="selectById" resultType="com.kuafu.web.entity.WalletAll">
select
mte.type_name  ,
w.user_info_user_info_id_1  ,
ui.car_plate  ,
ui.cert_status_enum_cert_status_enum_id_1  ,
ui.city  ,
ui.real_name  ,
w.member_type_enum_member_type_enum_id_1  ,
w.wallet_id  ,
ui.password  ,
w.balance  ,
w.member_expire  ,
ui.phone_number  ,
ui.continue_active_days  ,
ui.car_type_enum_car_type_enum_id_1  ,
ui.active_days  


        FROM wallet w
        left join user_info ui on w.user_info_user_info_id_1 = ui.user_info_id
        left join member_type_enum mte on w.member_type_enum_member_type_enum_id_1 = mte.member_type_enum_id



        where w.wallet_id = #{id}
        </select>

<select id="selectCount" resultType="java.lang.Long">
select
count(*)



FROM wallet w
left join user_info ui on w.user_info_user_info_id_1 = ui.user_info_id
left join member_type_enum mte on w.member_type_enum_member_type_enum_id_1 = mte.member_type_enum_id



${ew.customSqlSegment}


        </select>

        </mapper>
